/* General */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

:root {
  --main-green: #45b29a;
  --dark-green: #28685a;
  --main-grey: #f0f5f4;
  --main-white: #FFF3CC;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
}

h1, h2 {
  font-family: 'Quicksand', sans-serif;
  color: var(--main-green);
}

h1 {
  font-size: 6rem;
}
h2 {
  font-size: 3rem;
}

body {
  font-family: 'Gelasio', serif;
  margin: 0;
  line-height: 1.4;
  min-width: 400px;
  color: var(--dark-green);
}

a {
  text-decoration: none;
  color: var(--main-grey);
}
a:visited {
  color: var(--main-grey);
}


/* Nav Bar */
header {
  z-index: 500;
  background-color: var(--main-green);
  top: 0;
  position: fixed;
  width: 100%;
  box-shadow: 0 0.1px 10px 0.1px #aaaaaa;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo {
  font-family: 'Oleo Script', sans;
  color: var(--dark-green);
  margin: 5px 0 0px 20px;
  font-weight: 400;
  font-size: 4rem;
  cursor: default;
  transition: color 0.1s ease-in-out;
}
#logo:hover {
  color: var(--main-white);
  transition: color 0.1s ease-in-out;
}

nav a {
  color: var(--main-white);
  transition: color 0.1s ease-in-out;

}
nav a:visited {
  color: var(--main-white);
}
nav a:hover {
  color: var(--dark-green);
  transition: color 0.1s ease-in-out;
}
nav li {
  list-style: none;
  margin-right: 40px;
  font-weight: 500
}
nav ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
}

/* Welcome Section */
  main {
  overflow-x: hidden;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 60vh;
  margin-bottom: 100px;
  text-align: center;
}

#welcome-section h2, #welcome-section h1 {
  margin: 0;
}
#welcome-section h2 {
  font-size: 2rem;
}

#welcome_form {
  display: flex;
  flex-direction: row;
  margin-top: 150px;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

#name {
  font-family: 'Quicksand', sans-serif;
  border: 2px solid var(--main-green);
  border-radius: 50px;
  text-align: center;
  font-size: 1.5rem;
}

#name:focus {
  border-radius: 50px;
  outline: none;
}

#name:focus::placeholder {
  color: transparent;
}

#name_input {
  position: relative;
  background-color: var(--main-green);
  border: none;
  padding: 0.5rem;
  font-size: 1.5rem;
  margin-left: 1rem;
  font-family: 'Quicksand', serif;
  font-weight: 500;
  color: var(--main-white);
  border-radius: 2px;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

#name_input:hover {
  background-color: var(--dark-green);
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

#name_input:focus {
  outline: none;
}
#name_input a {
  color: var(--main-white);
  font-size: 2rem;
}

/* Main Content Container  */

#main-content {
  margin: 0px 20px 50px 20px;
}


/* About Section */
#about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 15vh;
  height: 50vh;
}

#about p {
  line-height: 2;
  font-size: 1.8rem;
  margin-top: 0px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

/* Projects Section */

#projects {
  text-align: center;
  font-size: 2rem;
  width: 80%;
  margin: 0 auto;
}
#project-container {
  background-color: var(--main-grey);
  border-radius: 20px;
  width: 75%;
  margin: auto;
}

#projects h2 {
  padding-top: 50px;
  margin-bottom: 50px;
  border-radius: 20px;
}
.project-title {
  color: var(--main-white);
  font-family: 'Quicksand', serif;
  font-weight: 600;
  margin: auto;
}
.code {
  color: var(--main-green);
  transition: color 0.3s ease-out;
}
.project-tile:hover .code {
  color: var(--main-white);
  transition: color 0.3s ease-in-out
}

#projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 6rem;
}
.project-tile {
  background-color: var(--main-green);
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  padding-bottom: 10px;
  transform: translationY(0);
  transition: 0.3s ease-in-out;
}
.project-tile:hover {
  background-color: var(--dark-green);
  transform: translateY(-3px);
  transition: 0.3s ease-in-out;
}

.project-img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  object-fit: cover;
}

#show-all {
  position: relative;
  background-color: var(--main-green);
  border: none;
  padding: 1rem;
  font-family: 'Quicksand', serif;
  font-weight: 500;
  color: var(--main-white);
  border-radius: 2px;
  transform: scale(1);
  transition: 0.3s ease-in-out;
  margin-bottom: 50px;
}
#show-all:hover {
  background-color: var(--dark-green);
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
#show-all a {
  color: var(--main-white);
  font-size: 2rem;
}

/* Contact Section */
#contact {
  text-align: center;
  margin: 30vh auto 30vh;
}

#contact p {
  font-size: 2rem;
}

#contact-links {
  display: flex;
  margin: 0 auto;
  margin-top: 15vh;
  padding-bottom: 3vh;
  flex-direction: row;
  justify-content: space-between;
  width: 450px;
  border-bottom: 1px solid;
}
#contact-links a {
  font-family: 'Quicksand', serif;
  font-size: 1.5rem;
  color: var(--dark-green);
  font-weight: 600;
  transform: translateY(0px);
  transition: 0.3s ease-in-out;
}
#contact-links a:hover {
  color: var(--main-green);
  transform: translateY(-3px);
  transition: 0.3s ease-in-out;
}

/* Footer Section */
footer {
  background-color: var(--main-green);
  width: 100%;
  box-shadow: 0 -0.1px 10px 0.1px #aaaaaa;
}

footer h1 {
  font-family: 'Oleo Script', sans;
  color: var(--main-white);
  margin-bottom: 0;
  text-align: center;
  font-size: 4rem;
  cursor: default;
}

/* Adaptive Design Section */
@media (max-width: 650px) {
  #navbar {
    flex-direction: column;
  }
  #logo {
    text-align: center;
    margin: 10px 0 auto;
  }

  nav li {
    justify-content: space-between;
    margin: auto;
    padding: 0;

  }
  #contact {
    margin-bottom: 10vh;
    min-width: 200px;
  }
  #contact-links {
    flex-direction: column;
    margin-top: 5vh;
  }
  #contact-links a {
    margin: 0 auto;
    margin-bottom: 10px;
  }
  #projects-grid {
    grid-template-columns: 1fr;
  }
  #project-container {
    width: 100%;
  }
}